@import './../common/styles/sass/variables';


.nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    a {
        //text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: $primaryColor
        }
    }
    .active {
        color: $primaryColor
    }
}

